@import "styles/colors.scss";

.ModalCandidateEmployer {
  button {
    padding: 10px;
    margin: 10px;
  }
  &__Modal {
    display: flex;
    height: 50vh;
    &__employer,
    &__candidate {
      width: 70%;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 10px;
      &__text {
        text-align: center;
      }
    }
    &__candidate {
      background-color: $green;
      color: $backgound;
    }
    &__candidate:hover {
      background-color: $lightgreen;
    }
    &__employer {
      background-color: $orange;
      color: $backgound;
    }
    &__employer:hover {
      background-color: rgb(192, 93, 0);
    }
  }
}
