@import "styles/colors";

.EmployerHome {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(252, 250, 241);
  background-image: url("/images/icons/wave (18).svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  background-position: top;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  &__titlecontainer {
    &__titlebloc {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        color: $backgound;
        margin-bottom: 0;
      }
      h3 {
        color: $orange;
        font-style: italic;
        margin-bottom: 15px;
      }
    }
  }
  &__Modal {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $textcolor;
  }
  &__display {
    width: 100%;
    margin-top: 30px;
  }
  &__eventlist {
    margin-top: 0;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__item {
      list-style: none;
      margin: 0 20px;
      &__buttons {
        position: relative;
        top: 100px;
        left: 140px;
        display: flex;
        justify-content: center;
        &__modify,
        &__delete {
          margin: 0 10px;
          padding: 10px;
        }
        &__modify {
          background: orange;
        }
        &__delete {
          background: red;
        }
      }
    }
  }
}
