.FormEmployerSignup {
  width: 500px;
  display: flex;
  flex-direction: column;

  input {
    box-sizing: content-box;
    margin: 15px 10px 30px 10px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    &:focus {
      box-sizing: content-box;
      outline: none;
      box-shadow: 0px 0px 24px 6px rgba(142, 213, 232, 0.75);
      -webkit-box-shadow: 0px 0px 24px 6px rgba(142, 213, 232, 0.75);
      -moz-box-shadow: 0px 0px 24px 6px rgba(142, 213, 232, 0.75);
    }
  }
  label {
    margin-left: 15px;
  }
  button {
    width: 150px;
    padding: 10px;
    align-self: center;
  }
}
