@import "styles/colors.scss";

.ModalUpdateJob {
  button {
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
    border: 0.5px solid $orange;
    background: white;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
  }
  button:hover {
    background: $orange;
  }
  &__Modal {
    background-color: rgba(255, 255, 255, 0.295);
    height: 80vh;
    width: 90vw;
    max-width: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      color: $orange;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      input,
      textarea {
        margin: 10px;
        padding: 10px;
        max-width: 500px;
        width: 80%;
        border: none;
        border-bottom: 2px solid $green;
        border-radius: 10px;
        &::placeholder {
          color: #4f8c9c;
        }
        &:focus {
          outline: none;
          box-shadow: 0px 0px 24px 6px rgba(138, 187, 188, 0.75);
          -webkit-box-shadow: 0px 0px 24px 6px rgba(138, 187, 188, 0.75);
          -moz-box-shadow: 0px 0px 24px 6px rgba(138, 187, 188, 0.75);
        }
      }
      label {
        margin-left: 10%;
        align-self: flex-start;
        margin-top: 10px;
        color: #4f8c9c;
      }
      Button {
        margin-top: 20px;
        align-self: center;
      }
    }
  }
}
