@import "styles/colors.scss";

.Navbar {
  background-color: $green;
  height: 88px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  &__right {
    display: flex;

    align-items: center;
  }
  &__left {
    display: flex;

    align-items: center;
  }
  a:hover {
    color: $orange;
  }
  a {
    margin: 0 50px;
    font-size: 20px;
    color: $textcolor;
  }
}
