@import "styles/colors.scss";

.Navbar {
  background-color: $green;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  a:hover {
    color: red;
  }
}

.Modal {
  display: flex;
  &__employer,
  &__candidate {
    width: 70%;
    text-align: center;
    border-radius: 40px;
  }
  &__employer {
    background-color: #ff8b36;
  }
  &__employer:hover {
    background-color: $orange;
    box-shadow: 10px 10px 5px black;
  }
}
