.main {
    margin-bottom: 0;
    min-height: 80vh;
    width: 100%;
    text-align: center;
    background-color: rgb(252, 250, 241);
    background-image: url("/images/icons/wave (16).svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    background-position: top;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    margin-top: 10px;
}