.CandidateHome {
    min-height: 80vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
        list-style: none;
        width: 300px;
        height: 250px;
        padding: 15px;
        display: flex;
        margin: 0 auto;
        border: 0.2px solid black;
        border-radius: 5px;
        margin: 10px;
        flex-direction: column;
        justify-content: center;
        transition-duration: 1s; 
        h2 {
            font-size: 20px;
            width: 100%;
        }
        p {
            font-size: 20px;
            width: 100%;
        }
        &:hover {
            box-shadow: 10px 5px 5px black;
            transform: scale(1.1);
          }
    &__header {
        height: 50px;
        width: 100%;
        margin: 5px;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    &__body {
        height: 50px;
        margin: 5px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    &__footer {
        height: 20px;
        width: 100%;
        margin: 10px 0 0 0;
        display: flex;
        justify-content: center;
    }
}
