@import "styles/colors";

.Event {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(252, 250, 241);
  background-image: url("/images/icons/wave (18).svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  background-position: top;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  &__presentation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__container {
      width: 400px;
      margin: 10px;
      margin-left: 35px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      &__details {
      }
      h1 {
        text-align: center;
        color: $backgound;

      }
      h3 {
        text-align: center;
        color: $textcolor;
      }
    }
  }
  &__jobtitle {

    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: white;
    margin: 10px;
    font-size: 20px;
    color: $textcolor;
  }
  &__joblist {
    list-style: none;

    &__item {
      border-radius: 15px;
      position: relative;
      right: 20px;
      background-color: rgba(255, 255, 255, 0.295);
      width: 400px;
      &__title {
        color: $textcolor;
        padding: 10px;
        background-color: white;
        border-radius: 15px 15px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        &__buttons {
          position: absolute;
          right: 20px;
          top: 15px;
          display: flex;
        }
      }
      &__body {
        padding: 10px;
      }
      &__candidates {
        color: $textcolor;
        padding: 10px;
        background-color: white;
        margin-bottom: 20px;
        border-radius: 0 0 15px 15px;
      }
    }
  }
}
