@import "styles/colors.scss";

.ModalUpdateBusiness {
  button {
    border-radius: 50%;
    padding: 7px;
    margin: 10px;
    border: 0.5px solid lightgrey;
    background: none;
    text-align: center;
    vertical-align: center;
    font-size : 15px;
  }
  button:hover {
    background: lightgrey;
    cursor: pointer;
  }
  &__Modal {
    height: 70vh;
    width: 90vw;
    max-width: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
      input, textarea {
        margin: 10px;
        padding: 10px;
        min-width: 500px;
      }
      label {
        margin-left: 10px;
      }
      button {
        padding: 10px;
        margin: 10px;
        align-self: center;
      }
    }
  }
}
